body {
	background: url("img/background.jpg");
}

header {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:-20px;
	left: 0;
	right: 0;
	width:59.5%;
	height:28.5%;
}

header #title {
	font-family: "Baskerville", serif;
	color:white;
	text-shadow: 2px 2px rgba(20,20,20,1);
	position:relative;
	float:right;
	padding:12px;
	top:70%;
	bottom:0px;
	right:0.5%;
}

header #return {
	font-family: "Baskerville", serif;
	color:rgba(200,200,200,0.8);
	text-shadow: 2px 2px rgba(20,20,20,1);
	position:relative;
	float:left;
	padding:12px;
	top:70%;
	bottom:0px;
	left:0.5%;
}


#all-tweets > div {

	position:relative;
	border-radius: 5px;
	display:block;
	height:10%;
	margin:4px;
	box-shadow: 2px 2px rgba(190,190,190,0.7);
	padding:3px 12px 3px 12px;
	background-color: rgba(0,0,0,0.1);
}

#tweet-box {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	width:60%;
	height:50%;
	overflow-y:auto;
}

#user {
	border: 1px dashed blue;
 	float: left;
  	margin: 0 1.5%;
  	width: 30%;
  	display:none;
}

#all-tweets {

	text-align:left;
  	font-family: "Baskerville", serif;
  	font-size:14px;
  	color:rgb(255,255,255);
  	text-shadow:0.5px 0.5px rgba(0,0,0,0.8);
}

#user-tweets {

	text-align:left;
  	font-family: "Baskerville", serif;
  	font-size:14px;
  	color:rgb(255,255,255);
  	text-shadow:0.5px 0.5px rgba(0,0,0,0.8);
}

a.user {
	position:relative;
	float:right;
	text-decoration:none;
	color:rgb(255,255,255);
	text-shadow:1.25px 1.25px rgba(0,0,0,1);
}

span.time {
	position:relative;
	float:left;
	color:rgb(180,180,180);
}

span.tweet {
	position:relative;
	width: 60%;
	margin-left:10px;

}

.blink {
    animation: blink 1.5s steps(5, start) infinite;
    -webkit-animation: blink 1.5s steps(5, start) infinite;
}
    
@keyframes blink {
    to {
      visibility: hidden;
    }
}
    
@-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
}

.slideout {
	display:none;
}

#user-box {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	width:60%;
	height:50%;
	overflow-y:auto;
}

#user-tweets > div {
	display:block;
	position:relative;
	border-radius: 5px;
	display:block;
	height:10%;
	margin:4px;
	box-shadow: 2px 2px rgba(190,190,190,0.7);
	padding:3px 12px 3px 12px;
	background-color: rgba(0,0,0,0.1);
}