body {
	background: url("img/background.jpg");
}

#tweets > div {
	position:relative;
	background:rgba(235,200,30,0.85);
	border-radius: 4.5px;
	height:10%;
	margin:4px;
	box-shadow: 3px 3px rgba(150,3,255,0.85);
	padding:2.5px 12px 2.5px 12px;
}

#display {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	width:50%;
	height:50%;
	overflow-y:auto;
}

#middle {
	display:inline-block;
	position:relative;
	float:right;
  	margin:0 2% 0 2%;
  	width:90%;
  	overflow-y:auto;
}

#user {
	border: 1px dashed blue;
 	float: left;
  	margin: 0 1.5%;
  	width: 30%;
  	display:none;
}

#tweets {
	text-align:justify;
  	font-family: "Baskerville", serif;
  	font-size:14px;
  	color:rgb(55,55,55);
  	text-shadow:0.5px 0.5px rgba(220,220,220,0.8);
}

span.user {
	float:right;
}

span.time {
	float:left;
}

span.tweet {
	position:absolute;
	font-weight:600;
	width: 60%;
	margin-left:10px;
}
